@*Partielle View*@
@*View, welche in eine andere View eingebunden wird*@
@*Wird über Html.Partial/Html.PartialAsync eingebunden*@
@*WICHTIG: Diese Views müssen in dem Shared Ordner abgelegt werden*@

<h1>Partielle View</h1>