@*Razor Pages*@
@*Ersetzt Model-View-Controller mit Pages*@
@*Jede Page hat an sich selbst das Model angehängt*@
@*Die Modelklasse ist die entsprechende C# Klasse dahinter (Index.cshtml.cs)*@

@*Routing in Razor Pages*@
@*Mittels dem page Attribut wird eine Route erstellt*@
@*Das page Attribut enthält standardmäßig den Namen der Page*@
@*Es kann auch eine eigene Route gesetzt werden*@
@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
